body {
    margin: 20px auto;
    font-family: 'Lato',  sans-serif;
    background: #666;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

#inputArea { 
    padding: 3rem
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-size: 2rem;
    font-family: 'Reenie Beanie', Arial, sans-serif
}

#siteDescription {
    font-family: 'Lato', sans-serif
}
ul, li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 15rem;
    width: 15rem;
    padding: 1rem;
    box-shadow: 5px 15px 7px rgba(33,33,33,.8);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

ul li {
    margin: 1em;
}

ul li button {
    color: red;
    position: absolute;
    top: 10%;
    right: 10%;
    border-radius: 5px 5px;
}

#submitBtn {
    color: green;
    position: absolute;
    top: 50%;
    right: 50%;
    padding: 1rem;
}

ul li:nth-child(even) a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background: #cfc;
  }
  
ul li:nth-child(3n) a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background: #ccf;
  }
  
ul li:nth-child(5n) a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
ul li a:hover, ul li a:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.5);
    position: relative;
    z-index: 2
}


#completedTask {
    background-color: #666;
}